<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Менеджер новостей</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">На главную</a></li>
        <li><a href="/new">Добавить новость</a></li>
      {{#if auth}}
      <li><a id="sign" name="logout">Выход<i class="tiny material-icons right">account_circle</i></a></li>
      {{else}}
      <li><a id="sign" name="login">Вход<i class="tiny material-icons right">account_circle</i></a></li>
      {{/if}}
      </ul>
  </div>
</nav>   
<script> 
$( document ).ready(function () {
  $(".dropdown-trigger").dropdown();
})
</script>    

