<div id="mpopup" class="bord_log center ">
    <div id="pass_div">
        <div class="row center">
            <div class="input-field col s12"> 
                <h5>Авторизуйтесь</h5>
                <form id="formauth" class="col s12 login" action="upl" method="post" enctype="multipart/form-data">
                    <input class="validate" type="password" name="pass" id="pass" placeholder="Введите пароль"/>
                    <div class="row">
                        <div class="col s6"><button class="mbtn btn red" id="close">Закрыть</button></div>
                        <div class="col s6"><button class="mbtn btn" id="btnl" type="submit">ОК</button></div>
                    </div>
                </form> 
            </div>
        </div>
    </div>       
</div>